<h1>Create Projects Page</h1>
<h3>Add a new project below!</h3>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add New Project!</h3>
  </div>
  <div class="panel-body">
    <div>
      <div>
        <label>Project Title:</label>
        <br>
        <input #newName>
      </div>

      <div>
        <label>Project Artist:</label>
        <br>
        <input #newCreator>
      </div>

      <div>
        <label>Project Description:</label>
        <br>
        <textarea #newProjectDescription></textarea>
      </div>

      <div>
        <label>Funding Goal:</label>
        <br>
        <textarea #newFundGoal></textarea>
      </div>

      <div>
        <label>Fund Description:</label>
        <br>
        <textarea #newFundDescription></textarea>
      </div>

      <div>
        <label>Reward:</label>
        <br>
        <textarea #newReward></textarea>
      </div>


      <button (click)="submitForm(
      newName.value,
      newCreator.value,
      newProjectDescription.value,
      newFundGoal.value,
      newFundDescription.value,
      newReward.value);

      newName.value='';
      newCreator.value='';
      newProjectDescription.value='';
      newFundGoal.value='';
      newFundDescription.value='';
      newReward.value='';
      ">Add</button>
    </div>
  </div>
</div>


<ul *ngFor="let project of projects | async"  class="">
  <li class="">
    <p><em>{{project.name}}</em> by {{project.creator}}</p>
  </li>
</ul>
