<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Welcome Page</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="project">View Projects</a></li>
      <li><a routerLink="create">Create Projects</a></li>
      <li><a routerLink="update">Update Projects</a></li>
      <li><a routerLink="delete">Delete Projects</a></li>
    </ul>
  </div>
</nav>

<h1>{{title}}</h1>

<router-outlet></router-outlet>
