<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Crowdfunding Website</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="project">View Projects</a></li>
      <li><a routerLink="create">Create Projects</a></li>
      <li><a routerLink="update">Update Projects</a></li>
      <li><a routerLink="delete">Delete Projects</a></li>
    </ul>
  </div>
</nav>

<p>project initialized</p>

<p>{{title}}</p>

<router-outlet></router-outlet>
